.App {
  height: 100vh !important;
}
body {
  margin: 0px !important;
}
.container {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}
.main {
  width: 70% !important;
  height: 100% !important;
  margin-top: 60px !important;
}
.loader {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100% !important;
  }
}
